<div class="jumbotron">
    <h2>I Exam Practice Adv Programing</h2>
    
</div>
<div class="row">
    <div class="col-md-4">
                <p>I Exam Practice</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    
</div>
